.cartPage{
    width: 100%;
}
.cartItemList{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}
.cartSingleItem{
    display: flex;
    padding: 1%;
    border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
    margin: 2%;
    border-radius: 6px;
}
.cartSingleInfo{
    width: 70%;
}
.cartSingleRemove{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartSingleRemove button{
    padding: 2%;
    box-sizing: border-box;
    color: #230007;
    font-weight: 600;
    background-color: #9cafb7;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}
.cartSingleImage{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartSingleImage img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.cartSingleRemove button:hover{
    background-color: #a7754d;
    border: none;
    cursor: pointer;
}
.cartSingleTextBold{
    font-size: 1.2em;
    font-weight: 600;
}
.cartSingleText{
    font-size: 1em;
}
.cartOrderBtn{
    margin-top: 2%;
    width: 40%;
    padding: 2%;
    box-sizing: border-box;
    color: #230007;
    font-weight: 600;
    background-color: #9cafb7;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: none;
    border: none;
    border-radius: 6px;
}
.cartOrderBtn:hover{
    background-color: #a7754d;
    border: none;
    cursor: pointer;
}
.cartNothing{
    font-weight: 700;
    font-size: 2em;
}