#root, html, body{
  height: 100%;
  background-color: #34ad55;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.Main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MainNav{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MainNav a{
  text-decoration: none;
  background-color: #3C5A14;
  color: #230007;
  padding: 4%;
  border-radius: 6px;
  text-align: center;
  margin: 1%;
}
.MainTitle{
  font-size: 6em;
  font-weight: 800;
  color: #230007;
}
.NavBtns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainNav a:hover{
  background-color: #9cafb7;
  color: #230007;
}
.authPage{
  width: 30%;
}
.authForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authForm input{
  padding: 2%;
  border-radius: 6px;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.rememberLine{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.roundedBtn{
  text-decoration: none;
  background-color: #3C5A14;
  border: none;
  color: #230007;
  padding: 4%;
  border-radius: 6px;
  text-align: center;
  margin: 1%;
}
.roundedBtn:hover{
  background-color: #9cafb7;
  cursor: pointer;
  color: #230007;
}